<!-- item-create.component.html -->

<div class="container mt-4">
  <h4>Create Item</h4>
  
  <form (submit)="saveItem()">
    <div class="mb-3">
      <label for="itemName" class="form-label">Name</label>
      <input type="text" class="form-control" id="itemName" data-cy=item-name [(ngModel)]="itemName" name="itemName" required>
    </div>
    
    <div class="mb-3">
      <label for="itemDescription" class="form-label">Description</label>
      <textarea class="form-control" id="itemDescription" [(ngModel)]="itemDescription" data-cy="item-des" name="itemDescription" required></textarea>
    </div>

    <button type="submit" class="btn btn-success" data-cy=save-button>Save</button>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
  </form>
</div>
